#publicidad{
    a{
        text-decoration: none;
        font-family: $f-prim;
        margin: 10px 0px;
        img{
            border-radius: 20px;
            transition: all 1s;
        }
    }
    a:hover{
        img{
            width: 220px;
            height: 220px;
        }
    }
}